h2 {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
.second {
    text-align: left;
    letter-spacing: 5px;
}
.last {
    font-size: 1.5em;
    color: red;
}